:root {
  --font-size-initial: 12px; 
  --font-size-lv2: 14px;
  --font-size-lv3: 16px;
  --font-size-lv4: 18px;

  --spacing-site: 2em;

  --primary-color: #BB0926;
  --secondary-color: #5D969A;
  --dark-color: #232321;
  --text-color-white: #FFFFFF;
}

