<footer class="site-footer">
  <div class="info">
    <div class="address">
      <h6>{{ 'Address' | upcase }}</h6>
      <p>Sdrucciolo de' Pitti, 19r,
        50125 Firenze FI, Italy</p>
    </div>
    <div class="hours">
      <h6>{{ 'Hours' | upcase }}</h6>
      <p>Mon-fri: <time>6:00</time>am - <time>19:00</time>pm</p>
      <p>Sat-sun: <time>8:00</time>am - <time>6:00</time>pm</p>
    </div>
    <div class="contacts">
      <h6>{{ 'Contact us' | upcase }}</h6>
      <address>
        <a href="https://www.pexels.com/search/bread/">{{ site.email }}</a>
      </br>
        <a href="tel:+359-888-197-685">+39 06 678 XXXX</a>
      </address>
    </div>
    <div class="follow-us">
      <h6>{{ 'Follow us' | upcase }}</h6>
      <div class="site-social">
        <a href="https://www.facebook.com/"><img src="/assets/images/social-media/facebook.png" alt="Facebook"></a>
        <a href="https://www.twitter.com/"><img src="/assets/images/social-media/twitter.png" alt="Twitter"></a>
        <a href="https://www.linkedin.com/"><img src="/assets/images/social-media/linkedin.png" alt="Linkedin"></a>
        <a href="https://www.instagram.com/"><img src="/assets/images/social-media/instagram.png" alt="Instagram"></a>
      </div>
    </div>
  </div>

  <span>&copy; {{ '2019 Zuccero' | upcase }} All rights reversed.</span>
</footer>