<nav class="site-navigation">
    <div class="site-branding">
        <img class="logo" src="/assets/images/logo.png" ; alt="Zuccero Logo">
    </div>
    <div class="menu-links">
        <ul>
            <li><a href="/">{{ 'Home' | upcase }}</a></li>
            <li><a href="{{ site.baseurl }}/about/">{{ 'About us' | upcase }}</a></li>
            <li><a href="{{ site.baseurl }}/menu/">{{ 'Menu' | upcase }}</a></li>
            <li><a href="{{ site.baseurl }}/recepties/">{{ 'Recepties' | upcase }}</a></li>
            <li><a href="{{ site.baseurl }}/contact">{{ 'Contact us' | upcase }}</a></li>
        </ul>
    </div>
</nav>