<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>

<body>
    <div class="site">
        <header class="site-header">
            <div class="site-social">
                <a href="https://www.facebook.com/"><img src="/assets/images/social-media/facebook.png" alt="Facebook"></a>
                <a href="https://www.twitter.com/"><img src="/assets/images/social-media/twitter.png" alt="Twitter"></a>
                <a href="https://www.linkedin.com/"><img src="/assets/images/social-media/linkedin.png" alt="Linkedin"></a>
                <a href="https://www.instagram.com/"><img src="/assets/images/social-media/instagram.png" alt="Instagram"></a>
            </div>
            {% include navigation.html %}
            <div class="slogan">
                <p>All we bake, we bake it wite love</p>
            </div>
        </header>
        <main class="site-content">
            {{ content }}
        </main>
        {% include footer.html %}
    </div>
</body>

</html>